body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

header {
  display: flex;
  background-color: #03234b;
  padding: 10px;
}

header a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

header a.active {
  text-decoration: underline;
}

main {
  margin: 10px;
}

a {
  color: #03234B;
}

.btn-link {
  display: block;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #03234B;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  color: white;
}
