table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 12px;
}

td,
th {
  border: 1px solid rgba(0, 0, 0, 0.54);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px;
}

th {
  background-color: #f5f7f7;
  color: rgba(0, 0, 0, 0.54);
}

td:first-child, th:first-child {
  width: 200px;
}

td:last-child, th:last-child {
  width: 50px;
}
